:root{
--White-color: hsl(0, 0%, 100%);
--Light-color: hsl(212, 45%, 89%);
--Grayish-color: hsl(220, 15%, 55%);
--Darkbluer-color: hsl(218, 44%, 22%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

}

.card{
    background-color: var(--White-color);
    width: auto;
    height: auto;
    border-radius: 2rem ;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card img{
    width: 25rem;
    margin-top: 0.4rem;
    border-radius: 1rem;
}

.card_info{
 width: 25rem;
 margin-top: 2rem;
 margin-left: 0.5rem;
 margin-right: 0.5rem;
 margin-bottom: 3rem;
 padding-left: 0.5rem ;
 padding-right: 0.5rem;
}

.card_info h2{
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 0.05rem;
    color: var(--Darkbluer-color);    
}

.card_info p{
    text-align: center;
    font-size: 1.3rem;
    color: var(--Grayish-color);
    font-weight: 400;
    letter-spacing: 0.03rem;
    line-height: 1.6rem;

}

.credit {
    margin-top: 3rem;
    text-decoration: none; 
    display: flex;
    align-items: center;
    
}

.credit h6{
color: var(--Darkbluer-color);
}


.credit a{
    margin-left: 0.5rem ;
    margin-right: 0.5rem ;
    text-decoration: none; 
       
}

.credit a:hover{
    color: red;
    font-size: 1.2rem;    
}

